---
import Button from './Button.astro'

---
<header class="h-14 md:h-20 px-8 md:px-12 xl:px-28 flex gap-12 items-center">
    <a href="#" class="text-3xl font-bold">Astro</a>

    <button
            id="navMenuButton"
            class="fixed top-0 right-0 p-4 z-20 lg:hidden bg-primary text-light font-bold rounded-l h-14"
    >
        Menu
    </button>
    <div
      id="navMenu"
      class="fixed lg:relative top-0 left-0 bg-dark bg-opacity-95 text-center overflow-hidden
      transition-all duration-500 flex flex-col lg:flex-row gap-8 items-center justify-center w-full h-0 z-10
      opacity-0 lg:h-full lg:opacity-100
      "
    >
        <nav class="lg:flex-1 flex gap-8 flex-col lg:flex-row">
            <a href="/blog">Blog</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
        <Button />
    </div>
</header>

<script>
     document.getElementById('navMenuButton')?.addEventListener('click', () => {
        const navMenu = document.getElementById('navMenu')
        navMenu?.classList.toggle('h-0')
        navMenu?.classList.toggle('h-full')
        navMenu?.classList.toggle('opacity-0')
        navMenu?.classList.toggle('opacity-100')

    })
</script>